In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
license = pd.read_csv('Licensed_Marijuana_Businesses_in_Colorado.csv')
license.head()

C:\Users\james\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Licensee,DBA,License_No,Street_Address,City,ZIP,Category,Month,Year,Certification
0,1617 WAZEE STREET LLC,NaN,NaN,1617 Wazee St,Denver,80202.0,Medical Marijuana Centers,1,2013,NaN
1,3-D DENVER'S DISCREET DISPENSARY LLC,NaN,NaN,4305 Brighton Blvd,Brighton,80216.0,Medical Marijuana Centers,1,2013,NaN
2,"4625 E. COLFAX, LLC",NaN,NaN,4625 E. Colfax Ave,Denver,80216.0,Medical Marijuana Centers,1,2013,NaN
3,5280 WELLNESS LLC,NaN,NaN,1321 Elati Street,Denver,80204.0,Medical Marijuana Centers,1,2013,NaN
4,A CUT OFF THE TOP MEDICAL MARIJUANA,NaN,NaN,2059 W. 9th Ave,Denver,80204.0,Medical Marijuana Centers,1,2013,NaN

In [68]:
#Drop columns
license2=license.drop(['Certification','Month','ZIP','Street_Address','DBA'],axis=1)

In [73]:
#Removed null values on City,Year,Licensee, and License_No
license2.dropna(subset = ['City', 'Year','License_No','Licensee'])

,Licensee,License_No,City,Category,Year
6308,1617 WAZEE STREET LLC,402-00017,Denver,Medical Marijuana Centers,2014
6309,3-D DENVER'S DISCREET DISPENSARY LLC,402-00078,Denver,Medical Marijuana Centers,2014
6310,4 REAL CANNABIS SUPPLY LLC,402-00471,Ft Garland,Medical Marijuana Centers,2014
6311,505 CENTER LLC,402-00503,Denver,Medical Marijuana Centers,2014
6312,5110 RACE LLC,402-00204,Denver,Medical Marijuana Centers,2014
...,...,...,...,...,...
191504,"NORDIC ANALYTICAL LABORATORIES, LLC",405-00003,Denver,Medical Marijuana Testing Facilities,2019
191505,NORDIC ANALYTICAL LABORATORIES LLC,405-00019,Pueblo,Medical Marijuana Testing Facilities,2019
191506,PHYTATECH CO LLC,405-00008,Denver,Medical Marijuana Testing Facilities,2019
191507,RM3 LABS COLORADO LLC,405-00010,Boulder,Medical Marijuana Testing Facilities,2019
191508,TEQ ANALYTICAL LABORATORIES INC,405-00014,Aurora,Medical Marijuana Testing Facilities,2019

In [80]:
license3=license2.groupby('Category').count()

In [81]:
license3

,Licensee,License_No,City,Year
Category,,,,
Medical Marijuana Centers,38351,27778,39052,39052
Medical Marijuana Cultivation Facility,48027,42199,48027,48027
Medical Marijuana Infused Product Manufacturers,14694,13077,14694,14694
Medical Marijuana Operators,160,160,160,161
Medical Marijuana Research and Development Cultivation,14,14,14,14
Medical Marijuana Testing Facilities,1959,1956,1956,1959
Medical Marijuana Transporters,241,241,241,241
Retail Marijuana Cultivations,39114,36758,32871,39114
Retail Marijuana Operators,233,233,233,233
Retail Marijuana Product Manufacturers,14260,13431,14260,14260
Retail Marijuana Stores,31278,27989,31278,31278
Retail Marijuana Testing Facilities,2167,2167,2167,2167
Retail Marijuana Transporters,309,309,309,309

In [58]:
table = pd.pivot_table(license3,values='Year',index=['Category','Year'],
                    columns=['City'], aggfunc=np.sum, fill_value=0)
table

KeyError: 'Year'

In [62]:
sales_revenue=pd.read_csv('Marijuana_Sales_Revenue_in_Colorado.csv')
sales_revenue

,Month,Year,County,Med_Sales,Rec_Sales,Med_Blank_Code,Rec_Blank_Code,ID
0,12,2019,Yuma,NaN,NaN,NL,NL,122019Yuma
1,12,2019,Weld,314840.0,2448689.0,NaN,NaN,122019Weld
2,12,2019,Washington,NaN,NaN,NL,NL,122019Washington
3,12,2019,Teller,NaN,NaN,NL,NL,122019Teller
4,12,2019,Summit,NaN,2476854.0,NR,NaN,122019Summit
...,...,...,...,...,...,...,...,...
4549,1,2020,Montrose,NaN,NaN,NR,NR,12020Montrose
4550,1,2020,Routt,162666.0,1362765.0,NaN,NaN,12020Routt
4551,1,2020,Clear Creek,NaN,688968.0,NR,NaN,12020Clear Creek
4552,1,2020,San Juan,NaN,NaN,NL,NR,12020San Juan
4553,1,2020,Custer,NaN,NaN,NL,NL,12020Custer

In [63]:
med_mj_stats=pd.read_csv('Medical_Marijuana_Statistics_-_County_Information.csv')
med_mj_stats

        County  Number of Patients  Percent of Patients
0        Adams                8772                  8.0
1      Alamosa                 204                  NaN
2     Arapahoe               11985                 11.0
3    Archuleta                 378                  NaN
4         Baca                  35                  NaN
..         ...                 ...                  ...
59      Summit                 951                  1.0
60      Teller                 866                  1.0
61  Washington                  52                  NaN
62        Weld                3495                  3.0
63        Yuma                  90                  NaN

[64 rows x 3 columns]

In [64]:
med_mj_stats.dtypes

County                  object
Number of Patients       int64
Percent of Patients    float64
dtype: object

In [65]:
tax_revenue=pd.read_csv('State_Sales_Tax_Revenue_from_Marijuana_in_Colorado.csv')
tax_revenue.head()

,Month,Year,County,Med_Tax_Rev,Rec_Tax_Rev,Med_RemainderOfState_Counties,Rec_RemainderOfState_Counties,Med_Blank_Code,Rec_Blank_Code,ID
0,8,2019,Adams,17037.0,NaN,NaN,NaN,NaN,NaN,82019Adams
1,8,2019,Alamosa,NaN,NaN,NaN,NaN,NR,NaN,82019Alamosa
2,8,2019,Arapahoe,24256.0,NaN,NaN,NaN,NaN,NaN,82019Arapahoe
3,8,2019,Boulder,33557.0,NaN,NaN,NaN,NaN,NaN,82019Boulder
4,8,2019,Chaffee,NaN,NaN,NaN,NaN,NR,NaN,82019Chaffee