In [24]:
import pandas as pd

In [54]:
#requires:
# pip install boto3
# pip install s3fs <-- Pandas uses this with .to_csv for (I assume) serializing the dataframe to csv.
import boto3

In [57]:
# from AwsConfiguration import access_key, secret_key  # keep getting ImportError, don't know why.

In [58]:
s3 = boto3.resource('s3', aws_access_key_id='AKIA5CAQWMJD2BGG3HGH', aws_secret_access_key='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')

In [59]:
bucket_name = 'wustl-data-01-2020-project-2'
bucket_path = f's3://{bucket_name}/dfs'
bucket_path

's3://wustl-data-01-2020-project-2/dfs'

In [60]:
# validate that this bucket is accessible.
bucket = s3.Bucket(bucket_name)
bucket

s3.Bucket(name='wustl-data-01-2020-project-2')

In [61]:
license = pd.read_csv('Licensed_Marijuana_Businesses_in_Colorado.csv')
license.head()

,Licensee,DBA,License_No,Street_Address,City,ZIP,Category,Month,Year,Certification
0,1617 WAZEE STREET LLC,NaN,NaN,1617 Wazee St,Denver,80202.0,Medical Marijuana Centers,1,2013,NaN
1,3-D DENVER'S DISCREET DISPENSARY LLC,NaN,NaN,4305 Brighton Blvd,Brighton,80216.0,Medical Marijuana Centers,1,2013,NaN
2,"4625 E. COLFAX, LLC",NaN,NaN,4625 E. Colfax Ave,Denver,80216.0,Medical Marijuana Centers,1,2013,NaN
3,5280 WELLNESS LLC,NaN,NaN,1321 Elati Street,Denver,80204.0,Medical Marijuana Centers,1,2013,NaN
4,A CUT OFF THE TOP MEDICAL MARIJUANA,NaN,NaN,2059 W. 9th Ave,Denver,80204.0,Medical Marijuana Centers,1,2013,NaN

In [41]:
#license.to_csv(f'{bucket_path}/license.csv', encoding='utf-8', index=False)
#license.to_csv('license.csv', encoding='utf-8', index=False)
csv_buffer = StringIO()
license.to_csv(csv_buffer)
s3.Object(bucket_name, 'dfs/df.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'DBD9C46CB022770C',
  'HostId': 'ueXoXo8A5Baz0FVqAW7SjLhH9wHbvFPYWbSFpUCeUFTg1tO00MShh7WroVoahvxWhibR1gSuCeM=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'ueXoXo8A5Baz0FVqAW7SjLhH9wHbvFPYWbSFpUCeUFTg1tO00MShh7WroVoahvxWhibR1gSuCeM=',
   'x-amz-request-id': 'DBD9C46CB022770C',
   'date': 'Sat, 25 Apr 2020 18:00:31 GMT',
   'etag': '"e7a70b0ce6eb583cd6df830db4af6b0f"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"e7a70b0ce6eb583cd6df830db4af6b0f"'}

In [4]:
sales_revenue=pd.read_csv('Marijuana_Sales_Revenue_in_Colorado.csv')
sales_revenue.head()

,Month,Year,County,Med_Sales,Rec_Sales,Med_Blank_Code,Rec_Blank_Code,ID
0,12,2019,Yuma,NaN,NaN,NL,NL,122019Yuma
1,12,2019,Weld,314840.0,2448689.0,NaN,NaN,122019Weld
2,12,2019,Washington,NaN,NaN,NL,NL,122019Washington
3,12,2019,Teller,NaN,NaN,NL,NL,122019Teller
4,12,2019,Summit,NaN,2476854.0,NR,NaN,122019Summit

In [5]:
med_mj_stats=pd.read_csv('Medical_Marijuana_Statistics_-_County_Information.csv')
med_mj_stats.head()

      County  Number of Patients  Percent of Patients
0      Adams                8772                  8.0
1    Alamosa                 204                  NaN
2   Arapahoe               11985                 11.0
3  Archuleta                 378                  NaN
4       Baca                  35                  NaN

In [6]:
med_mj_stats.dtypes

County                  object
Number of Patients       int64
Percent of Patients    float64
dtype: object

In [7]:
tax_revenue=pd.read_csv('State_Sales_Tax_Revenue_from_Marijuana_in_Colorado.csv')
tax_revenue.head()

,Month,Year,County,Med_Tax_Rev,Rec_Tax_Rev,Med_RemainderOfState_Counties,Rec_RemainderOfState_Counties,Med_Blank_Code,Rec_Blank_Code,ID
0,8,2019,Adams,17037.0,NaN,NaN,NaN,NaN,NaN,82019Adams
1,8,2019,Alamosa,NaN,NaN,NaN,NaN,NR,NaN,82019Alamosa
2,8,2019,Arapahoe,24256.0,NaN,NaN,NaN,NaN,NaN,82019Arapahoe
3,8,2019,Boulder,33557.0,NaN,NaN,NaN,NaN,NaN,82019Boulder
4,8,2019,Chaffee,NaN,NaN,NaN,NaN,NR,NaN,82019Chaffee

In [8]:
zipcty = pd.read_csv('ZIP-COUNTY-FIPS_2018-03.csv')
zipcty.head()

     ZIP  STCOUNTYFP           CITY STATE      COUNTYNAME CLASSFP
0  36091        1001        Verbena    AL  Autauga County      H1
1  36758        1001  Plantersville    AL  Autauga County      H1
2  36006        1001    Billingsley    AL  Autauga County      H1
3  36067        1001     Prattville    AL  Autauga County      H1
4  36701        1001          Selma    AL  Autauga County      H1

In [65]:
co_only = zipcty.loc[zipcty['STATE'] == 'CO']
co_only.head()

        ZIP  STCOUNTYFP         CITY STATE    COUNTYNAME CLASSFP
5549  80229        8001       Denver    CO  Adams County      H1
5550  80701        8001  Fort morgan    CO  Adams County      H1
5551  80642        8001       Hudson    CO  Adams County      H1
5552  80654        8001      Wiggins    CO  Adams County      H1
5553  80247        8001       Denver    CO  Adams County      H1

In [63]:
csv_buffer = StringIO()
co_only.to_csv(csv_buffer)
s3.Object(bucket_name, 'dfs/co_only.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '88B733C239B8E1B5',
  'HostId': 'mPYigHLo7OFFwPHUQB9o5y/GNtZusThGg6c0N/KKNvu44LI9ZA9m6Uhpxe3N9jCO5fCPaVOHmN0=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'mPYigHLo7OFFwPHUQB9o5y/GNtZusThGg6c0N/KKNvu44LI9ZA9m6Uhpxe3N9jCO5fCPaVOHmN0=',
   'x-amz-request-id': '88B733C239B8E1B5',
   'date': 'Sat, 25 Apr 2020 18:20:57 GMT',
   'etag': '"81b4adb7d1caba48ee239790c4b6ab16"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"81b4adb7d1caba48ee239790c4b6ab16"'}