In [9]:
import pandas as pd

In [10]:
#requires:
# pip install boto3
# pip install s3fs <-- Pandas uses this with .to_csv for (I assume) serializing the dataframe to csv.
import boto3
from io import StringIO

In [11]:
# from AwsConfiguration import access_key, secret_key  # keep getting ImportError, don't know why.

In [12]:
s3 = boto3.resource('s3', aws_access_key_id='AKIA5CAQWMJD2BGG3HGH', aws_secret_access_key='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')

In [13]:
bucket_name = 'wustl-data-01-2020-project-2'
bucket_path = f's3://{bucket_name}/dfs'
bucket_path

's3://wustl-data-01-2020-project-2/dfs'

In [14]:
# validate that this bucket is accessible.
bucket = s3.Bucket(bucket_name)
bucket

s3.Bucket(name='wustl-data-01-2020-project-2')

In [15]:
#Loaded the new Licensed MJ Businesses CSV into a dataframe

license = pd.read_csv('Licensed_MJ_Businesses_fixed_lic_no.csv')
license.head()

c:\users\james\anaconda3\envs\pythondata\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Licensee,DBA,License_No,Street_Address,City,ZIP,Category,Month,Year,Certification
0,1617 WAZEE STREET LLC,NaN,NaN,1617 Wazee St,Denver,80202.0,Medical Marijuana Centers,1,2013,NaN
1,3-D DENVER'S DISCREET DISPENSARY LLC,NaN,NaN,4305 Brighton Blvd,Brighton,80216.0,Medical Marijuana Centers,1,2013,NaN
2,"4625 E. COLFAX, LLC",NaN,NaN,4625 E. Colfax Ave,Denver,80216.0,Medical Marijuana Centers,1,2013,NaN
3,5280 WELLNESS LLC,NaN,NaN,1321 Elati Street,Denver,80204.0,Medical Marijuana Centers,1,2013,NaN
4,A CUT OFF THE TOP MEDICAL MARIJUANA,NaN,NaN,2059 W. 9th Ave,Denver,80204.0,Medical Marijuana Centers,1,2013,NaN

# clean license dataframe

In [48]:
#removed some columns 
cleaned_license=license.drop(['Certification','Month','ZIP','DBA'],axis=1)

In [54]:
#removed null values
cleaned_license=cleaned_license.dropna(subset=['Year','Category','City','Street_Address','License_No','Licensee'])

In [56]:
cleaned_license.head()

,Licensee,License_No,Street_Address,City,Category,Year
6308,1617 WAZEE STREET LLC,402-00017,"1617 Wazee Street, Unit B",Denver,Medical Marijuana Centers,2014
6309,3-D DENVER'S DISCREET DISPENSARY LLC,402-00078,4305 Brighton Boulevard,Denver,Medical Marijuana Centers,2014
6310,4 REAL CANNABIS SUPPLY LLC,402-00471,County Rd 17 Hwy 160,Ft Garland,Medical Marijuana Centers,2014
6311,505 CENTER LLC,402-00503,505 West 40th Avenue,Denver,Medical Marijuana Centers,2014
6312,5110 RACE LLC,402-00204,5110 Race Street,Denver,Medical Marijuana Centers,2014

In [16]:
#license.to_csv(f'{bucket_path}/license.csv', encoding='utf-8', index=False)
#license.to_csv('license.csv', encoding='utf-8', index=False)
csv_buffer = StringIO()
license.to_csv(csv_buffer)
s3.Object(bucket_name, 'dfs/license.csv').put(Body=csv_buffer.getvalue())

ClientError: An error occurred (InvalidAccessKeyId) when calling the PutObject operation: The AWS Access Key Id you provided does not exist in our records.

In [17]:
sales_revenue=pd.read_csv('Marijuana_Sales_Revenue_in_Colorado.csv')
sales_revenue.head()

,Month,Year,County,Med_Sales,Rec_Sales,Med_Blank_Code,Rec_Blank_Code,ID
0,12,2019,Yuma,NaN,NaN,NL,NL,122019Yuma
1,12,2019,Weld,314840.0,2448689.0,NaN,NaN,122019Weld
2,12,2019,Washington,NaN,NaN,NL,NL,122019Washington
3,12,2019,Teller,NaN,NaN,NL,NL,122019Teller
4,12,2019,Summit,NaN,2476854.0,NR,NaN,122019Summit

In [18]:
#Dropped boring columns from Sales CSV

simple_sales = sales_revenue.drop(columns=['Med_Blank_Code', 'Rec_Blank_Code'])
simple_sales.head()

   Month  Year      County  Med_Sales  Rec_Sales                ID
0     12  2019        Yuma        NaN        NaN        122019Yuma
1     12  2019        Weld   314840.0  2448689.0        122019Weld
2     12  2019  Washington        NaN        NaN  122019Washington
3     12  2019      Teller        NaN        NaN      122019Teller
4     12  2019      Summit        NaN  2476854.0      122019Summit

In [19]:
#Dropped all rows with NaN values in both Med_Sales and Rec_Sales

clean_sales = simple_sales.dropna(how="all", subset=["Rec_Sales","Med_Sales"])
clean_sales.head()

,Month,Year,County,Med_Sales,Rec_Sales,ID
1,12,2019,Weld,314840.0,2448689.0,122019Weld
4,12,2019,Summit,NaN,2476854.0,122019Summit
5,12,2019,Sum of NR Counties,27314662.0,116437714.0,122019Sum of NR Counties
7,12,2019,San Miguel,NaN,444533.0,122019San Miguel
8,12,2019,San Juan,NaN,13232.0,122019San Juan

In [20]:
#Loaded the new County Statistics CSV into a dataframe

med_mj_stats=pd.read_csv('MM_County_Statistics_full_percts.csv')
med_mj_stats.head()

      County  Number of Patients  Percent of Patients
0      Adams                8772                 7.90
1    Alamosa                 204                 0.18
2   Arapahoe               11985                10.79
3  Archuleta                 378                 0.34
4       Baca                  35                 0.03

In [21]:
med_mj_stats.dtypes

County                  object
Number of Patients       int64
Percent of Patients    float64
dtype: object

In [22]:
tax_revenue=pd.read_csv('State_Sales_Tax_Revenue_from_Marijuana_in_Colorado.csv')
tax_revenue.head()

,Month,Year,County,Med_Tax_Rev,Rec_Tax_Rev,Med_RemainderOfState_Counties,Rec_RemainderOfState_Counties,Med_Blank_Code,Rec_Blank_Code,ID
0,8,2019,Adams,17037.0,NaN,NaN,NaN,NaN,NaN,82019Adams
1,8,2019,Alamosa,NaN,NaN,NaN,NaN,NR,NaN,82019Alamosa
2,8,2019,Arapahoe,24256.0,NaN,NaN,NaN,NaN,NaN,82019Arapahoe
3,8,2019,Boulder,33557.0,NaN,NaN,NaN,NaN,NaN,82019Boulder
4,8,2019,Chaffee,NaN,NaN,NaN,NaN,NR,NaN,82019Chaffee

In [23]:
#Dropped boring columns

simple_taxes = tax_revenue.drop(columns=["Med_RemainderOfState_Counties", "Rec_RemainderOfState_Counties", "Med_Blank_Code", "Rec_Blank_Code"])
simple_taxes.head()

   Month  Year    County  Med_Tax_Rev  Rec_Tax_Rev             ID
0      8  2019     Adams      17037.0          NaN     82019Adams
1      8  2019   Alamosa          NaN          NaN   82019Alamosa
2      8  2019  Arapahoe      24256.0          NaN  82019Arapahoe
3      8  2019   Boulder      33557.0          NaN   82019Boulder
4      8  2019   Chaffee          NaN          NaN   82019Chaffee

In [24]:
#Dropped all rows with NaN in both Med_Tax_Rev and Rec_Tax_Rev

clean_taxes = simple_taxes.dropna(how="all", subset=["Med_Tax_Rev","Rec_Tax_Rev"])
clean_taxes.head()

   Month  Year    County  Med_Tax_Rev  Rec_Tax_Rev             ID
0      8  2019     Adams      17037.0          NaN     82019Adams
2      8  2019  Arapahoe      24256.0          NaN  82019Arapahoe
3      8  2019   Boulder      33557.0          NaN   82019Boulder
6      8  2019    Denver     392226.0          NaN    82019Denver
7      8  2019     Eagle       2826.0          NaN     82019Eagle

In [25]:
zipcty = pd.read_csv('ZIP-COUNTY-FIPS_2018-03.csv')
zipcty.head()

     ZIP  STCOUNTYFP           CITY STATE      COUNTYNAME CLASSFP
0  36091        1001        Verbena    AL  Autauga County      H1
1  36758        1001  Plantersville    AL  Autauga County      H1
2  36006        1001    Billingsley    AL  Autauga County      H1
3  36067        1001     Prattville    AL  Autauga County      H1
4  36701        1001          Selma    AL  Autauga County      H1

##  This dataframe contains information for the entire country, but the other dataframes only contain data from Colorado, so we can cut this dataframe down to approximately 1/50 of its size.

In [28]:
co_only = zipcty.loc[zipcty['STATE'] == 'CO']
co_only.head()

        ZIP  STCOUNTYFP         CITY STATE    COUNTYNAME CLASSFP
5549  80229        8001       Denver    CO  Adams County      H1
5550  80701        8001  Fort morgan    CO  Adams County      H1
5551  80642        8001       Hudson    CO  Adams County      H1
5552  80654        8001      Wiggins    CO  Adams County      H1
5553  80247        8001       Denver    CO  Adams County      H1

In [29]:
csv_buffer = StringIO()
co_only.to_csv(csv_buffer)
s3.Object(bucket_name, 'dfs/co_only.csv').put(Body=csv_buffer.getvalue())

ClientError: An error occurred (InvalidAccessKeyId) when calling the PutObject operation: The AWS Access Key Id you provided does not exist in our records.

In [30]:
csv_buffer = StringIO()
clean_sales.to_csv(csv_buffer)
s3.Object(bucket_name, 'dfs/clean_sales.csv').put(Body=csv_buffer.getvalue())

ClientError: An error occurred (InvalidAccessKeyId) when calling the PutObject operation: The AWS Access Key Id you provided does not exist in our records.

In [31]:
csv_buffer = StringIO()
clean_taxes.to_csv(csv_buffer)
s3.Object(bucket_name, 'dfs/clean_taxes.csv').put(Body=csv_buffer.getvalue())

ClientError: An error occurred (InvalidAccessKeyId) when calling the PutObject operation: The AWS Access Key Id you provided does not exist in our records.